header{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    width: 75vw;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

#info{
    display: flex;
    height: fit-content;
    width: 50vw;
    color: black;
    font-size: large;
}
#capa{
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: 5px;
    justify-content: center;
}

#input{
    display: flex;
    width: 50vw;
    height: 5vh;
}

#img{
    position: relative;
    height: 50vh;
}

#img-header{
    height: 8vh;
    width: 8vh;
    margin-right: 10px;
}
